.svg {
    height: 20px;
}

.svg {
    height: 20px;
}

.hover-column td:last-child {
    width: 150px;
    padding-right: 10px;
    text-align: right;
}

.icon {
    display: none;
    padding: 0 5px;
}

.hover-column:hover .icon {
    display: inline-block;
}

.table {
    cursor: pointer;
}