<div class="container-fluid no-selected">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 color">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100"
      >
        <app-sidebar />
      </div>
    </div>
    <div class="col py-3">
      <h3 class="text-center">My Unit</h3>
      <app-search-bar />
      <div class="container-lg m-2 p-4">
        <div class="my-4">
          <div class="table-responsive my-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th class="col">Modification Date</th>
                  <th class="col">Size</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>s</td>
                  <td>s</td>
                  <td>s</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
