<div class="container-lg m-2 p-4">
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn btn-outline-primary rounded-start-2"
      (click)="loadFiles()"
    >
      <mat-icon>description</mat-icon>
      Files
    </button>
    <button
      type="button"
      class="btn btn-outline-primary rounded-end-2"
      (click)="loadFolders()"
    >
      <mat-icon>folder</mat-icon>
      Folders
    </button>
  </div>

  <div class="my-4">
    <div class="table-responsive my-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th class="col">Modification Date</th>
            <th class="col" *ngIf="show === 'files'">Size</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>
              <button class="btn" data-bs-toggle="button">
                {{ item.name }}
              </button>
            </td>
            <td>{{ item.modificationDate }}</td>
            <td *ngIf="show === 'files' && itemHasSize(item)">
              {{ item.size }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
