<div class="container-fluid no-selected">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 color">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100"
      >
        <app-sidebar />
      </div>
    </div>
    <div class="col py-3">
      <h3 class="text-center">My Unit</h3>
      <nav class="container-lg w-50 p-3">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input
              [(ngModel)]="searchContent"
              class="form-control me-2 rounded-pill"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="searchContent"
            />
          </form>
        </div>
      </nav>
      <div class="container-lg m-2 p-4">
        <div class="my-4">
          <div *ngIf="!hasData" class="alert alert-warning text-center">
            Upload the files here
          </div>

          <div *ngIf="hasData" class="table-responsive my-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    <span class="ti" (click)="sortByName()">Name</span>
                  </th>
                  <th class="col">
                    <span class="ti" (click)="sortByDate()">Creation Date</span>
                  </th>
                  <th class="col"><span class="ti|">Size</span></th>
                  <th><app-add-element /><app-add-folder /></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of items | filter : searchContent"
                  class="hover-column"
                >
                  <td class="navbar-brand d-flex align-items-center">
                    <img
                      *ngIf="itemHasSize(item)"
                      src="files.svg"
                      class="svg me-2"
                    />
                    <img
                      *ngIf="!itemHasSize(item)"
                      src="folder.svg"
                      class="svg me-2"
                    />
                    <span (click)="onSelectFile(item)">{{ item.name }}</span>
                  </td>
                  <td>{{ item.creationDate | date : "mediumDate" }}</td>
                  <td>{{ itemHasSize(item) ? item.size : "-" }}</td>
                  <td>
                    <img src="download.svg" class="svg me-1 icon" />
                    <img src="rename.svg" class="svg me-1 icon" />
                    <img src="trash.svg" class="svg icon" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-toasts />
