<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
  <!-- Home -->
  <li>
    <a class="navbar-brand d-flex align-items-center rounded-4" [routerLink]="['']">
      <img src="house.svg" class="svg3 me-2" />
      <span class="navbar-text">HomePage</span>
    </a>
  </li>

  <!-- My Unit -->
  <li>
    <div class="navbar-brand d-flex align-items-center rounded-4 cursor-pointer" (click)="toggleSidebar()">
      <img src="disk.svg" class="svg3 me-2" />
      <span class="navbar-text">My unit</span>
      <mat-icon class="ms-auto">
        {{ isNavbarCollapse ? 'chevron_right' : 'chevron_down' }}
      </mat-icon>
    </div>
    <div [class.collapse]="isNavbarCollapse">
      <ul class="nav flex-column ms-1">
        <li *ngFor="let folder of folders" class="w-100">
          <a class="navbar-brand d-flex align-items-center rounded-4" [routerLink]="['/folder', folder.name]">
            <img src="folder.svg" class="svg3 me-2" />
            <span class="navbar-text">{{ folder.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Paper Bin -->
  <li>
    <a class="navbar-brand d-flex align-items-center rounded-4" [routerLink]="['/paperbin']">
      <img src="trash.svg" class="svg3 me-2" />
      <span class="navbar-text">Paper bin</span>
    </a>
  </li>
</ul>