.alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

img {
    width: 3vh;
    height: 2vh;
}